<div class="dh-skillwrapper">
    <div class="dh-skilltable__row">
        <div class="dh-skilltable__cell--left">
            <button class="roll-skill" data-skill="{{key}}" type="roll">{{localize this.label}}</button>
        </div>
        <div class="dh-skilltable__cell">
            <select name="data.skills.{{key}}.advance">
                {{option '0' this.advance 'Unknown'}}
                {{option '1' this.advance 'Known'}}
                {{option '2' this.advance 'Trained'}}
                {{option '3' this.advance 'Experienced'}}
                {{option '4' this.advance 'Veteran'}}
            </select>
        </div>
        <div class="dh-skilltable__cell">
            <select name="data.skills.{{key}}.characteristic">
                {{selectOptions (arrayToObject this.characteristics) selected=this.characteristic}}
            </select>
        </div>
        <div class="dh-skilltable__cell--last dh-skilltable__cell--highlight">
            <span class="display">{{this.current}}</span>
        </div>
    </div>
</div>
