<div class="dh-skillwrapper">
    <div class="dh-skilltable__row--grouped">
        <div class="dh-skilltable__cell--settingstoggle">
            {{> systems/dark-heresy-2nd/templates/actor/partial/display-toggle.hbs toggle=(concat 'spec_skills_' key)}}
        </div>
        <div class="dh-skilltable__cell--grouped">
            <span>{{localize this.label}}</span>
        </div>
        <div class="dh-skilltable__row dh-settings spec_skills_{{key}}" {{hideIfNot (isExpanded (concat 'spec_skills_' key ))}}>
            <h2>specialisation display</h2>
            {{#each this.specialities as | specialty skey |}}
                <div class="dh-settings__row">
                    <div class="dh-settings__label">{{this.label}}</div>
                    <input class="dh-settings__checkbox" {{checked specialty.taken}} data-dtype="Boolean" type="checkbox" name="data.skills.{{../key}}.specialities.{{skey}}.taken"/>
                </div>
            {{/each}}
        </div>
    </div>
</div>
{{#each this.specialities as | specialty skey |}}
    {{#if specialty.taken }}
        <div class="specialisation_wrapper">
            <div class="dh-skilltable__row--specialisation">
                <div class="dh-skilltable__cell">
                    <button class="roll-skill" data-skill="{{../key}}" type="roll">{{localize this.label}}</button>
                </div>
                <div class="dh-skilltable__cell">
                    <select name="data.skills.{{../key}}.specialities.{{skey}}.advance">
                        {{option '0' this.advance 'Unknown'}}
                        {{option '1' this.advance 'Known'}}
                        {{option '2' this.advance 'Trained'}}
                        {{option '3' this.advance 'Experienced'}}
                        {{option '4' this.advance 'Veteran'}}
                    </select>
                </div>
                <div class="dh-skilltable__cell">
                    <span class="display">{{../characteristic}}</span>
                </div>
                <div class="dh-skilltable__cell--last dh-skilltable__cell--highlight">
                    <span class="display">{{this.current}}</span>
                </div>
            </div>
        </div>
    {{/if}}
{{/each}}
