{{log this}}
<div class="dialog-content">
    <form class="dh-wrapper" autocomplete="off">
        <div class="dh-attack">
            <!-- Header -->
            <div class="dh-panel dh-grid-col-6">
                <div class="dh-header">
                    <div class="dh-header__info dh-header__logo">
                        <div class="dh-header__item-wrapper dh-header__borderless">
                            <img class="dh-header__logo-image-small" alt="{{this.actor.name}}" src="{{this.actor.img}}" />
                        </div>
                        <div class="dh-header__item-wrapper--span-3 dh-header__borderless">
                            <span class="dh-header__title mt-5">Psychic Power</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Power Select -->
            {{#if powerSelect}}
                <div class="dh-panel dh-grid-col-6">
                    <div class="dh-table--border dh-attackprompttable--border">
                        <div class="table-row--head">
                            <div class="table-cell"></div>
                            <div class="table-cell"></div>
                            <div class="table-cell--last"></div>
                        </div>
                        {{#each psychicPowers as |power|}}
                            <div class="table-row">
                                <div class="table-cell--left">
                                    <input
                                        class="table-cell--checkbox weapon-select"
                                        type="checkbox"
                                        data-dtype="Boolean"
                                        {{checked power.isSelected}}
                                        name="{{power.id}}"
                                    />
                                </div>
                                <div class="table-cell">
                                    <div class="display">{{power.name}}</div>
                                    {{#if power.items}}
                                        <div class="table-cell--description">- {{#each power.items as |item|}}{{item.name}} - {{/each}}</div>
                                    {{/if}}
                                </div>
                                <div class="table-cell">
                                    <img class="dh-field__image" alt="{{power.name}}" src="{{power.img}}" />
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{else}}
                <div class="dh-panel prompt dh-grid-col-6">
                    <div class="dh-field__wrapper">
                        <span class="dh-field__span">Power</span>
                        <span class="dh-field__span">{{power.name}}</span>
                    </div>
                </div>
            {{/if}}


            <!-- Other -->
            <div class="dh-panel prompt dh-grid-col-6">
                {{#if this.targetBonus}}
                    <div class="dh-field__wrapper">
                        <span class="dh-field__span">Target Bonus</span>
                        <span class="dh-field__span">{{targetBonus}}</span>
                    </div>
                {{/if}}
                <div class="dh-field__wrapper">
                    <span class="dh-field__span">Base</span>
                    <span class="dh-field__span">{{baseTarget}}</span>
                </div>
                <div class="dh-field__wrapper">
                    <span class="dh-field__span">Difficulty</span>
                    <select class="dh-field__input" name="difficulty">
                        {{selectOptions difficulties selected=this.difficulty}}
                    </select>
                </div>
                <div class="dh-field__wrapper">
                    <span class="dh-field__span">Modifier</span>
                    <input class="dh-field__input" type="number" data-dtype="Number" name="modifier" id="modifier" value="{{this.modifier}}" />
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Buttons -->
<div class="dialog-buttons">
    <button class="dialog-button roll default" data-button="roll" id="attack-roll">
        <i class="dh-material">casino</i>
        Roll
    </button>
    <button class="dialog-button cancel" data-button="cancel" id="attack-cancel">
        <i class="dh-material">close</i>
        Cancel
    </button>
</div>
