{{dhlog this}}
<div class="dh-wrapper">
    <form class="dh-actor" autocomplete="off">
        <div class="dh-header dh-grid-col-6 dh-panel">
            <div class="dh-header__info">
                <div class="dh-header__logo dh-header__item-wrapper--span-4">
                    <img class="dh-header__logo-image" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{actor.name}}" />
                </div>
                <div class="dh-header__item-wrapper--span-2">
                    <span class="dh-header__title">Vehicle Name</span>
                    <input class="dh-header__input" name="name" type="text" value="{{actor.name}}" />
                </div>
                <div class="dh-header__item-wrapper--span-2">
                    <span class="dh-header__title">Type</span>
                    <select class="dh-header__input" name="system.type">
                        {{selectOptions (arrayToObject dh.items.vehicle_types) selected=actor.system.type}}
                    </select>
                </div>
                <div class="dh-header__item-wrapper--span-2">
                    <span class="dh-header__title">Crew</span>
                    <input class="dh-header__input" name="system.crew" type="text" value="{{actor.system.crew}}" />
                </div>
                <div class="dh-header__item-wrapper--span-2">
                    <span class="dh-header__title">Carrying Capacity</span>
                    <input class="dh-header__input" name="system.carryingCapacity" type="number" data-dtype="Number" value="{{actor.system.carryingCapacity}}" />
                </div>
            </div>
        </div>
        {{> systems/dark-heresy-2nd/templates/actor/panel/vehicle-armour-panel.hbs}}
        {{> systems/dark-heresy-2nd/templates/actor/panel/vehicle-integrity-panel.hbs}}
        {{> systems/dark-heresy-2nd/templates/actor/panel/vehicle-movement-panel.hbs}}
        {{> systems/dark-heresy-2nd/templates/actor/panel/trait-panel.hbs}}
        {{> systems/dark-heresy-2nd/templates/actor/panel/weapon-panel.hbs}}
    </form>
</div>


