<div class='dh-wrapper'>
    <form class='dh-item' autocomplete='off'>
        <div class='dh-panel dh-grid-col-6'>
            <div class='dh-header'>
                <div class='dh-header__info'>
                    <div class='dh-header__logo dh-header__item-wrapper--span-4'>
                        <img class='dh-header__logo-image' src='{{item.img}}' data-edit='img' alt="{{item.name}}" title='{{item.name}}' />
                    </div>
                    <div class='dh-header__item-wrapper--span-4'>
                        <span class='dh-header__title'>Name</span>
                        <input class='dh-header__input' name='name' type='text' value='{{item.name}}' />
                    </div>
                    <div class='dh-header__item-wrapper--span-2'>
                        <span class='dh-header__title'>Discipline</span>
                        <input class='dh-header__input' name='system.discipline' type='text'
                               value='{{item.system.discipline}}' />
                    </div>
                    <div class='dh-header__item-wrapper'>
                        <span class='dh-header__title'>XP Cost</span>
                        <input class='dh-header__input' name='system.cost' type='number' data-dtype='Number'
                               value='{{item.system.cost}}' />
                    </div>
                    <div class='dh-header__item-wrapper'>
                        <span class='dh-header__title'>Source</span>
                        <input class='dh-header__input' name='system.source' type='text' value='{{item.system.source}}' />
                    </div>
                    <div class='dh-header__item-wrapper--span-4'>
                        <span class='dh-header__title'>Prerequisites</span>
                        <input class='dh-header__input' name='system.prerequisites' type='text'
                               value='{{item.system.prerequisites}}' />
                    </div>
                    <div class='dh-header__item-wrapper--span-2'>
                        <span class='dh-header__title'>Range</span>
                        <input class='dh-header__input' name='system.range' type='text' value='{{item.system.range}}' />
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Action</span>
                        <select class="dh-header__select" name="system.action">
                            {{selectOptions (arrayToObject dh.combat.action_speeds) selected=item.system.action}}
                        </select>
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Sustained</span>
                        <select class="dh-header__select" name="system.sustained">
                            {{selectOptions (arrayToObject dh.combat.sustained_speeds) selected=item.system.sustained}}
                        </select>
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Subtype</span>
                        <select class="dh-header__select" name="system.subtype">
                            {{selectOptions (arrayToObject dh.combat.psychic_subtypes) selected=item.system.subtype}}
                        </select>
                    </div>
                </div>
                <div class="dh-navigation" data-group="primary">
                    <label class="dh-navigation__item">
                        <a class="item" data-tab="stats" data-group="primary">action</a>
                    </label>
                    <label class="dh-navigation__item">
                        <a class="item" data-tab="description" data-group="primary">description</a>
                    </label>
                </div>
                <section class="dh-body">
                    <div class="tab" data-group="primary" data-tab="stats">
                        <div class="dh-panel dh-grid-col-2 dh-grid-row-1">
                            <h1 class="dh-panel__header">Action</h1>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Bonus</span>
                                <input class="dh-field__input" type="text" name="system.target.bonus"
                                       value="{{item.system.target.bonus}}" />
                            </div>

                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Use Skill</span>
                                <div class='dh-field__input check'>
                                    <input name="system.target.useSkill" type="checkbox" data-dtype="Boolean" {{checked
                                        item.system.target.useSkill}}/>
                                </div>
                            </div>
                            {{#if item.system.target.useSkill}}
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Skill</span>
                                    <input class="dh-field__input" type="text" name="system.target.skill"
                                           value="{{item.system.target.skill}}" />
                                </div>
                            {{else}}
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Characteristic</span>
                                    <select class="dh-field__input" name="system.target.characteristic">
                                        {{selectOptions dh.combat.characteristics selected=item.system.target.characteristic}}
                                    </select>
                                </div>
                            {{/if}}

                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Is Opposed</span>
                                <div class='dh-field__input check'>
                                    <input name="system.target.isOpposed" type="checkbox" data-dtype="Boolean" {{checked
                                        item.system.target.isOpposed}}/>
                                </div>
                            </div>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Use Opposed Skill</span>
                                <div class='dh-field__input check'>
                                    <input name="system.target.useOpposedSkill" type="checkbox" data-dtype="Boolean" {{checked
                                        item.system.target.useOpposedSkill}}/>
                                </div>
                            </div>

                            {{#if item.system.target.useOpposedSkill}}
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Opposed Skill</span>
                                    <input class="dh-field__input" type="text" name="system.target.opposedSkill"
                                           value="{{item.system.target.opposedSkill}}" />
                                </div>
                            {{else}}
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Opposed Characteristic</span>
                                    <select class="dh-field__input" name="system.target.opposed">
                                        {{selectOptions dh.combat.characteristics selected=item.system.target.opposed}}
                                    </select>
                                </div>
                            {{/if}}

                        </div>
                        <div class="dh-panel dh-grid-col-2 dh-grid-row-1">
                            <h1 class="dh-panel__header">Damage</h1>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Attack</span>
                                <select class="dh-field__input" name="system.attackType">
                                    {{selectOptions (arrayToObject dh.combat.psychic_attacks)
                                                    selected=item.system.attackType}}
                                </select>
                            </div>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Roll</span>
                                <input class="dh-field__input" type="text" name="system.damage"
                                       value="{{item.system.damage}}" />
                            </div>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Type</span>
                                <select class="dh-field__input" name="system.damageType">
                                    {{selectOptions (arrayToObject dh.combat.damage_types)
                                                    selected=item.system.damageType}}
                                </select>
                            </div>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Pen</span>
                                <input class="dh-field__input" type="text" name="system.penetration"
                                       value="{{item.system.penetration}}" />
                            </div>
                        </div>
                        <div class="dh-panel dh-grid-col-2 dh-grid-row-1">
                            <h1 class="dh-panel__header">Attack Specials</h1>
                            <div class="dh-table--border dh-attackspecialtable--border">
                                <div class="table-row--head">
                                    <div class="table-cell--span2">Name</div>
                                    <div class="table-cell">Enabled</div>
                                    <div class="table-cell">Level</div>
                                    <div class="table-cell--last"></div>
                                </div>
                                {{#each item.items as | embedded |}}
                                    {{#if embedded.isAttackSpecial}}
                                        <div class="table-row">
                                            <div class="table-cell--settingstoggle">
                                                <label class="dh-control-button item-edit"
                                                       data-item-id="{{embedded.id}}">
                                                    <span class="dh-control-button__span material-icons">{{defaultVal
                                                        icon 'settings'}}</span>
                                                </label>
                                            </div>
                                            <div class="table-cell--left">
                                                {{> systems/dark-heresy-2nd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' embedded.id) text=embedded.name}}
                                            </div>
                                            <div class="table-cell">
                                                <span class="display">{{embedded.system.enabled}}</span>
                                            </div>
                                            <div class="table-cell">
                                                <span class="display">{{defaultVal embedded.system.level
                                                                                   'N/A'}}</span>
                                            </div>
                                            <div class="table-cell--last">
                                                <label class="dh-control-button item-delete"
                                                       data-item-id="{{embedded.id}}">
                                                    <span class="dh-control-button__span material-icons">{{defaultVal
                                                        icon 'delete'}}</span>
                                                </label>
                                            </div>
                                            <div class="table-cell--description description_{{embedded.id}}" {{hideIfNot
                                                (isExpanded (concat 'description_' embedded.id ))}}>
                                                <span>{{embedded.system.description}}</span>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="tab" data-group="primary" data-tab="description">
                        <div class="dh-header__info dh-grid-col-6">
                            <div class="dh-header__item-wrapper--text-area">
                                <span class="dh-header__title">Description</span>
                                <textarea class="dh-header__textarea" name="system.description">{{item.system.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
</div>
