<div class="dh-wrapper">
    <form class="dh-item" autocomplete="off">
        <div class="dh-panel dh-grid-col-6">
            <div class="dh-header">
                <div class="dh-header__info">
                    <div class="dh-header__logo dh-header__item-wrapper--span-4">
                        <img class="dh-header__logo-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                    </div>
                    <div class="dh-header__item-wrapper--span-4">
                        <span class="dh-header__title">Name</span>
                        <input class="dh-header__input" name="name" type="text" value="{{item.name}}"/>
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Has Level</span>
                        <input name="data.hasLevel" type="checkbox" data-dtype="Boolean" {{checked data.hasLevel}}/>
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Level</span>
                        {{#if data.hasLevel}}
                            <input class="dh-header__input" name="data.level" type="number" data-dtype="Number" value="{{data.level}}"/>
                        {{else}}
                            <span class="dh-field__span">N/A</span>
                        {{/if}}
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Source</span>
                        <input class="dh-header__input" name="data.source" type="text" value="{{data.source}}"/>
                    </div>
                    <div class="dh-header__item-wrapper--text-area">
                        <span class="dh-header__title">Description</span>
                        <textarea class="dh-header__textarea" name="data.description">{{data.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


