<div class="dh-wrapper">
    <form class="dh-item" autocomplete="off">
        <div class="dh-header dh-panel">
            <div class="dh-header__info">
                <div class="dh-header__logo dh-header__item-wrapper--span-4">
                    <img class="dh-header__logo-image" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
                </div>
                <div class="dh-header__item-wrapper--span-4">
                    <span class="dh-header__title">Name</span>
                    <input class="dh-header__input" name="name" type="text" value="{{item.name}}"/>
                </div>
                <div class="dh-header__item-wrapper">
                    <span class="dh-header__title">Tier</span>
                    <input class="dh-header__input" name="data.tier" type="number" data-dtype="Number" value="{{data.tier}}"/>
                </div>
                <div class="dh-header__item-wrapper">
                    <span class="dh-header__title">XP Cost</span>
                    <input class="dh-header__input" name="data.cost" type="number" data-dtype="Number" value="{{data.cost}}"/>
                </div>
                <div class="dh-header__item-wrapper--span-2">
                    <span class="dh-header__title">Source</span>
                    <input class="dh-header__input" name="data.prerequisites" type="text" value="{{data.prerequisites}}"/>
                </div>
                <div class="dh-header__item-wrapper--span-4">
                    <span class="dh-header__title">Aptitudes</span>
                    <input class="dh-header__input" name="data.aptitudes" type="text" value="{{data.aptitudes}}"/>
                </div>
                <div class="dh-header__item-wrapper--text-area">
                    <span class="dh-header__title">Benefit</span>
                    <textarea class="dh-header__textarea" name="data.benefit">{{data.benefit}}</textarea>
                </div>
            </div>
        </div>
    </form>
</div>


