<div class="dh-wrapper">
    <form class="dh-item" autocomplete="off">
        <div class="dh-panel dh-grid-col-6">
            <div class="dh-header">
                <div class="dh-header__info">
                    <div class="dh-header__logo dh-header__item-wrapper--span-4">
                        <img class="dh-header__logo-image" src="{{item.img}}" data-edit="img" alt="{{item.name}}" title="{{item.name}}" />
                    </div>
                    <div class="dh-header__item-wrapper--span-4">
                        <span class="dh-header__title">Name</span>
                        <input class="dh-header__input" name="name" type="text" value="{{item.name}}" />
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Class</span>
                        <select class="dh-header__select" name="system.class">
                            {{selectOptions (arrayToObject dh.combat.weapon_class) selected=item.system.class}}
                        </select>
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Type</span>
                        <select class="dh-header__select" name="system.type">
                            {{selectOptions (arrayToObject dh.combat.weapon_type) selected=item.system.type}}
                        </select>
                    </div>
                    <div class="dh-header__item-wrapper">
                        <span class="dh-header__title">Source</span>
                        <input class="dh-header__input" name="system.source" type="text" value="{{item.system.source}}" />
                    </div>
                    <div class="dh-header__item-wrapper">
                        <span class="dh-header__title">Weight</span>
                        <input class="dh-header__input" name="system.weight" type="number" data-dtype="Number"
                               value="{{item.system.weight}}" />
                    </div>
                    <div class="dh-header__item-wrapper">
                        <span class="dh-header__title">Equipped</span>
                        <input name="system.equipped" type="checkbox" data-dtype="Boolean" {{checked
                            item.system.equipped}}/>
                    </div>
                    <div class="dh-header__item-wrapper">
                        <span class="dh-header__title">In Backpack</span>
                        <input name="system.backpack.inBackpack" type="checkbox" data-dtype="Boolean" {{checked
                            item.system.backpack.inBackpack}}/>
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Availability</span>
                        <select class="dh-header__select" name="system.availability">
                            {{selectOptions (arrayToObject dh.items.availability) selected=item.system.availability}}
                        </select>
                    </div>
                    <div class="dh-header__item-wrapper--span-2">
                        <span class="dh-header__title">Craftsmanship</span>
                        <select class="dh-header__select" name="system.craftsmanship">
                            {{selectOptions (arrayToObject dh.items.craftsmanship) selected=item.system.craftsmanship}}
                        </select>
                    </div>
                </div>
                <div class="dh-navigation" data-group="primary">
                    <label class="dh-navigation__item dh-navigation__item-left">
                        <a class="item" data-tab="active-effects" data-group="primary">active effects</a>
                    </label>
                    <label class="dh-navigation__item">
                        <a class="item" data-tab="stats" data-group="primary">stats</a>
                    </label>
                    <label class="dh-navigation__item">
                        <a class="item" data-tab="description" data-group="primary">description</a>
                    </label>
                </div>
                <section class="dh-body">
                    <div class="tab" data-group="primary" data-tab="active-effects">
                        {{> systems/dark-heresy-2nd/templates/item/panel/active-effects-panel.hbs}}
                    </div>

                    <div class="tab" data-group="primary" data-tab="stats">
                        <div class="dh-panel dh-grid-col-2 dh-grid-row-1">
                            <h1 class="dh-panel__header">Damage</h1>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Roll</span>
                                <input class="dh-field__input" type="text" name="system.damage"
                                       value="{{item.system.damage}}" />
                            </div>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Type</span>
                                <select class="dh-field__input" name="system.damageType">
                                    {{selectOptions (arrayToObject dh.combat.damage_types)
                                                    selected=item.system.damageType}}
                                </select>
                            </div>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Pen</span>
                                <input class="dh-field__input" type="text" name="system.penetration"
                                       value="{{item.system.penetration}}" />
                            </div>

                            <h1 class="dh-panel__header">Attack</h1>
                            <div class="dh-field__wrapper">
                                <span class="dh-field__header">Bonus</span>
                                <input class="dh-field__input" type="text" name="system.attackBonus"
                                       value="{{item.system.attackBonus}}" />
                            </div>
                        </div>

                        {{#if item.isRanged}}
                            <div class="dh-panel dh-grid-col-2 dh-grid-row-1">
                                <h1 class="dh-panel__header">Ranged Attack</h1>
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Range (m)</span>
                                    <input class="dh-field__input" type="text" name="system.range"
                                           value="{{item.system.range}}" />
                                </div>
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Single</span>
                                    <input class="dh-field__input" type="number" data-dtype="Number"
                                           name="system.rateOfFire.single" value="{{item.system.rateOfFire.single}}" />
                                </div>
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Burst</span>
                                    <input class="dh-field__input" type="number" data-dtype="Number"
                                           name="system.rateOfFire.burst" value="{{item.system.rateOfFire.burst}}" />
                                </div>
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Full</span>
                                    <input class="dh-field__input" type="number" data-dtype="Number"
                                           name="system.rateOfFire.full" value="{{item.system.rateOfFire.full}}" />
                                </div>
                            </div>
                            <div class="dh-panel dh-grid-col-2 dh-grid-row-1">
                                <h1 class="dh-panel__header">Ammo</h1>
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Reload</span>
                                    <select class="dh-field__input" name="system.reload">
                                        {{selectOptions (arrayToObject dh.combat.action_speeds) selected=item.system.reload}}
                                    </select>
                                </div>
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Current</span>
                                    <input class="dh-field__input" type="number" data-dtype="Number"
                                           name="system.clip.value" value="{{item.system.clip.value}}" />
                                </div>
                                <div class="dh-field__wrapper">
                                    <span class="dh-field__header">Max</span>
                                    <input class="dh-field__input" type="number" data-dtype="Number"
                                           name="system.clip.max" value="{{item.system.clip.max}}" />
                                </div>
                                <div>
                                    <h1 class="dh-panel__header">Loaded Ammo</h1>
                                    <div class="dh-table--border dh-ammotable--border">
                                        <div class="table-row--head">
                                            <div class="table-cell--span2">Name</div>
                                            <div class="table-cell--last"></div>
                                        </div>
                                        {{#each item.items as | embedded |}}
                                            {{#if embedded.isAmmunition}}
                                                <div class="table-row">
                                                    <div class="table-cell--settingstoggle">
                                                        <label class="dh-control-button item-edit"
                                                               data-item-id="{{embedded.id}}">
                                                            <span
                                                                class="dh-control-button__span material-icons">{{defaultVal
                                                                icon 'settings'}}</span>
                                                        </label>
                                                    </div>
                                                    <div class="table-cell--left">
                                                        {{> systems/dark-heresy-2nd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' embedded.id) text=embedded.name}}
                                                    </div>
                                                    <div class="table-cell--last">
                                                        <label class="dh-control-button item-delete"
                                                               data-item-id="{{embedded.id}}">
                                                            <span
                                                                class="dh-control-button__span material-icons">{{defaultVal
                                                                icon 'delete'}}</span>
                                                        </label>
                                                    </div>
                                                    <div
                                                        class="table-cell--description description_{{embedded.id}}" {{hideIfNot
                                                        (isExpanded (concat 'description_' embedded.id ))}}>
                                                        <span>{{embedded.system.description}}</span>
                                                    </div>
                                                </div>
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="dh-panel dh-grid-col-4"></div>
                        {{/if}}

                        <div class="dh-panel dh-grid-col-3">
                            <h1 class="dh-panel__header">Weapon Mods</h1>
                            <div class="dh-table--border dh-weaponmodtable--border">
                                <div class="table-row--head">
                                    <div class="table-cell--span2">Name</div>
                                    <div class="table-cell">Craftsmanship</div>
                                    <div class="table-cell">Installed</div>
                                    <div class="table-cell--last"></div>
                                </div>
                                {{#each item.items as | embedded |}}
                                    {{#if embedded.isWeaponModification}}
                                        <div class="table-row">
                                            <div class="table-cell--settingstoggle">
                                                <label class="dh-control-button item-edit"
                                                       data-item-id="{{embedded.id}}">
                                                    <span class="dh-control-button__span material-icons">{{defaultVal
                                                        icon 'settings'}}</span>
                                                </label>
                                            </div>
                                            <div class="table-cell--left">
                                                {{> systems/dark-heresy-2nd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' embedded.id) text=embedded.name}}
                                            </div>
                                            <div class="table-cell">
                                                <span>{{embedded.system.craftsmanship}}</span>
                                            </div>
                                            <div class="table-cell">
                                                <span>{{embedded.system.equipped}}</span>
                                            </div>
                                            <div class="table-cell--last">
                                                <label class="dh-control-button item-delete"
                                                       data-item-id="{{embedded.id}}">
                                                    <span class="dh-control-button__span material-icons">{{defaultVal
                                                        icon 'delete'}}</span>
                                                </label>
                                            </div>
                                            <div class="table-cell--description description_{{embedded.id}}" {{hideIfNot
                                                (isExpanded (concat 'description_' embedded.id ))}}>
                                                <span>{{embedded.system.description}}</span>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="dh-panel dh-grid-col-3">
                            <h1 class="dh-panel__header">Weapon Special</h1>
                            <div class="dh-table--border dh-attackspecialtable--border">
                                <div class="table-row--head">
                                    <div class="table-cell--span2">Name</div>
                                    <div class="table-cell">Enabled</div>
                                    <div class="table-cell">Level</div>
                                    <div class="table-cell--last"></div>
                                </div>
                                {{#each item.items as | embedded |}}
                                    {{#if embedded.isAttackSpecial}}
                                        <div class="table-row">
                                            <div class="table-cell--settingstoggle">
                                                <label class="dh-control-button item-edit"
                                                       data-item-id="{{embedded.id}}">
                                                    <span class="dh-control-button__span material-icons">{{defaultVal
                                                        icon 'settings'}}</span>
                                                </label>
                                            </div>
                                            <div class="table-cell--left">
                                                {{> systems/dark-heresy-2nd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' embedded.id) text=embedded.name}}
                                            </div>
                                            <div class="table-cell">
                                                <span class="display">{{embedded.system.enabled}}</span>
                                            </div>
                                            <div class="table-cell">
                                                <span class="display">{{defaultVal embedded.system.level
                                                                                   'N/A'}}</span>
                                            </div>
                                            <div class="table-cell--last">
                                                <label class="dh-control-button item-delete"
                                                       data-item-id="{{embedded.id}}">
                                                    <span class="dh-control-button__span material-icons">{{defaultVal
                                                        icon 'delete'}}</span>
                                                </label>
                                            </div>
                                            <div class="table-cell--description description_{{embedded.id}}" {{hideIfNot
                                                (isExpanded (concat 'description_' embedded.id ))}}>
                                                <span>{{embedded.system.description}}</span>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="tab" data-group="primary" data-tab="description">
                        <div class="dh-header__info dh-grid-col-6">
                            <div class="dh-header__item-wrapper--text-area">
                                <span class="dh-header__title">Description</span>
                                <textarea class="dh-header__textarea"
                                          name="system.description">{{item.system.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
</div>


