<div class="dh-wrapper">
    <form class="dh-item" autocomplete="off">
        <div class="dh-panel dh-grid-col-6">
            <div class="dh-header">
                <div class="dh-header__info">
                    <div class="dh-header__logo dh-header__item-wrapper--span-4">
                        <img class="dh-header__logo-image" src="{{item.img}}" data-edit="img" alt="{{item.name}}" title="{{item.name}}" />
                    </div>
                    <div class="dh-header__item-wrapper--span-4">
                        <span class="dh-header__title">Name</span>
                        <input class="dh-header__input" name="name" type="text" value="{{item.name}}" />
                    </div>
                    <div class="dh-header__item-wrapper--span-4">
                        <span class="dh-header__title">Source</span>
                        <input class="dh-header__input" name="system.source" type="text" value="{{item.system.source}}" />
                    </div>
                    <div class="dh-header__item-wrapper--text-area">
                        <span class="dh-header__title">Description</span>
                        <textarea class="dh-header__textarea" name="system.description">{{item.system.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>