<div class="dh-wrapper">
    <div class="dh-chat">
        {{#if label}}<h3>{{label}}</h3>{{/if}}
        <div class="dh-roll">
            {{#with rollData}}
                <div>
                    <h1>{{name}}</h1>
                    {{#if action}}<h2>{{action}}</h2>{{/if}}
                    <h3>{{effectString}}</h3>
                    <div class="dh-roll__divider"></div>

                    {{#unless ignoreModifiers}}
                        <div class="dh-roll__row dh-roll__row--number">
                            <div class="dh-roll__label">Base</div>
                            <div class="dh-roll__value">{{baseTarget}}</div>
                        </div>
                        {{#each activeModifiers}}
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Modifier: {{@key}}</div>
                                <div class="dh-roll__value">{{this}}</div>
                            </div>
                        {{/each}}
                        <div class="dh-roll__target">
                            <div class="dh-roll__label">Target</div>
                            <div class="dh-roll__value">{{modifiedTarget}}</div>
                        </div>
                    {{/unless}}

                    {{#if usesAmmo}}
                        <div class="dh-roll__row dh-roll__row--number">
                            <div class="dh-roll__label">Ammo Used</div>
                            <div class="dh-roll__value">{{ammoUsed}}</div>
                        </div>
                    {{/if}}

                    {{#each @root.effectOutput as |effect|}}
                        <div class="dh-roll__row--full">
                            <span class='dh-roll__label'>{{effect.name}}</span> - {{effect.effect}}
                        </div>
                    {{/each}}

                    {{#if isOpposed}}
                        <div class="dh-roll__row dh-roll__row--number">
                            <div class="dh-roll__label">Opposed {{opposedChar}} roll</div>
                            <div class="dh-roll__value">{{opposedRoll.total}} vs {{opposedTarget}} {{#if opposedSuccess}}({{opposedDos}}){{/if}}</div>
                        </div>
                    {{/if}}

                    {{#unless ignoreDegrees}}
                        {{#if success}}
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Degrees of Success</div>
                                <div class="dh-roll__value">{{dos}}</div>
                            </div>
                        {{else}}
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Degrees of Failure</div>
                                <div class="dh-roll__value">{{dof}}</div>
                            </div>
                        {{/if}}
                    {{/unless}}

                    {{#unless ignoreSuccess}}
                        {{#if success}}
                            <div class="dh-roll__success">
                                <span>Success</span>
                                <span>{{roll.total}}</span>
                            </div>
                        {{else}}
                            <div class="dh-roll__fail">
                                <span>Fail</span>
                                <span>{{roll.total}}</span>
                            </div>
                        {{/if}}
                    {{/unless}}

                    {{#unless ignoreControls}}
                        <div class='dh-roll__controls'>
                            {{#if showDamage}}
                                <button class="dh-control-button roll-control__hide-control" data-toggle="{{@root.id}}">
                                    <span class="dh-control-button__span material-icons">bolt</span>
                                    <span class="dh-control-button__label">Damage</span>
                                </button>
                            {{else}}
                                <button class="dh-control-button__disabled">
                                    <span class="dh-control-button__span material-icons">bolt</span>
                                    <span class="dh-control-button__label">Damage</span>
                                </button>
                            {{/if}}
                            <div class="dh-control-button roll-control__refund" data-roll-id="{{@root.id}}">
                                <span class="dh-control-button__span material-icons">deblur</span>
                                <span class="dh-control-button__label">Refund</span>
                            </div>
                            <div class="dh-control-button roll-control__fate-reroll" data-roll-id="{{@root.id}}">
                                <span class="dh-control-button__span material-icons">casino</span>
                                <span class="dh-control-button__label">Re-roll</span>
                            </div>
                        </div>
                    {{/unless}}
                </div>
            {{/with}}
            {{#unless rollData.ignoreDamage}}
                {{#with damageData}}
                    <div id="{{@root.id}}" style="display: none">
                        {{#if @root.psychicEffect}}
                            <div class="dh-roll__divider"></div>
                            <div class="dh-roll__label">{{{@root.psychicEffect}}}</div>
                        {{/if}}
                        <div class="dh-roll__divider"></div>
                        {{#each hits as |hit|}}
                            <h2 style='margin-top: .5rem'>Hit {{inc @index}}</h2>
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Base Formula:</div>
                                <div class="dh-roll__value">{{hit.damageRoll.formula}}</div>
                            </div>
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Base Damage:</div>
                                <div class="dh-roll__value">{{hit.damageRoll.result}}</div>
                            </div>
                            {{#each modifiers}}
                                <div class="dh-roll__row dh-roll__row--number">
                                    <div class="dh-roll__label">Modifier: {{@key}}</div>
                                    <div class="dh-roll__value">{{this}}</div>
                                </div>
                            {{/each}}
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Damage Type:</div>
                                <div class="dh-roll__value">{{hit.damageType}}</div>
                            </div>

                            {{#each hit.effects as |effect|}}
                                <div class="dh-roll__row--full">
                                    <span class='dh-roll__label'>{{effect.name}}</span> - {{effect.effect}}
                                </div>
                            {{/each}}

                            <div class="dh-roll__notice">
                                <span>{{hit.totalDamage}} Damage to {{hit.location}}</span>
                            </div>
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Base Penetration:</div>
                                <div class="dh-roll__value">
                                    {{#if hit.hasPenetrationRoll}}
                                        {{hit.penetrationRoll.result}}
                                    {{else}}
                                        {{hit.penetration}}
                                    {{/if}}
                                </div>
                            </div>
                            {{#each penetrationModifiers}}
                                <div class="dh-roll__row dh-roll__row--number">
                                    <div class="dh-roll__label">Modifier: {{@key}}</div>
                                    <div class="dh-roll__value">{{this}}</div>
                                </div>
                            {{/each}}
                            <div class="dh-roll__notice">
                                <span>{{hit.totalPenetration}} Penetration</span>
                            </div>
                            {{#each righteousFury as |fury|}}
                                <div class="dh-roll__success">
                                    <span>Righteous fury hits for a level {{fury.roll.total}} critical effect!</span>
                                </div>
                                <div class="dh-roll__label">{{fury.effect}}</div>
                            {{/each}}

                            {{#if @root.rollData.targetActor}}
                                <div class='dh-roll__controls-1'>
                                    <div class="dh-control-button roll-control__assign-damage"
                                         data-location="{{hit.location}}"
                                         data-total-damage="{{hit.totalDamage}}"
                                         data-total-penetration="{{hit.totalPenetration}}"
                                         data-total-fatigue="{{hit.totalFatigue}}"
                                         data-target-uuid="{{@root.rollData.targetActor.uuid}}"
                                         data-damage-type="{{hit.damageType}}">
                                        <span class="dh-control-button__span material-icons">api</span>
                                        <span class="dh-control-button__label">Assign Damage</span>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="dh-roll__divider"></div>
                        {{/each}}
                    </div>
                {{/with}}
            {{/unless}}
        </div>
    </div>
</div>
