<div class="dh-wrapper">
    <div class="dh-chat">
        {{#if label}}<h3>{{label}}</h3>{{/if}}
        <div class="dh-roll">
            {{#with rollData}}
                <div>
                    <h1>{{name}}</h1>
                    {{#if action}}<h2>{{action}}</h2>{{/if}}
                    <h2>{{lookup difficulties difficulty}}</h2>
                    <div class="dh-roll__divider"></div>

                    <div class="dh-roll__row dh-roll__row--number">
                        <div class="dh-roll__label">Base</div>
                        <div class="dh-roll__value">{{baseTarget}}</div>
                    </div>
                    {{#each activeModifiers}}
                        <div class="dh-roll__row dh-roll__row--number">
                            <div class="dh-roll__label">Modifier: {{@key}}</div>
                            <div class="dh-roll__value">{{this}}</div>
                        </div>
                    {{/each}}
                    <div class="dh-roll__target">
                        <div class="dh-roll__label">Target</div>
                        <div class="dh-roll__value">{{modifiedTarget}}</div>
                    </div>

                    {{#if success}}
                        {{#if @root.hasDamage}}
                            <button class="dh-roll__success roll-control__hide-control" data-toggle="{{@root.id}}">
                                <span>Success</span>
                                <span>{{roll.total}}</span>
                            </button>
                        {{else}}
                            <div class="dh-roll__success">
                                <span>Success</span>
                                <span>{{roll.total}}</span>
                            </div>
                        {{/if}}
                        <div class="dh-roll__row dh-roll__row--number">
                            <div class="dh-roll__label">Degrees of Success</div>
                            <div class="dh-roll__value">{{dos}}</div>
                        </div>
                        <div class='dh-roll__controls'>
                            <div class="dh-control-button">
                                <span class="dh-control-button__span material-icons">casino</span>
                            </div>
                            <div class="dh-control-button">
                                <span class="dh-control-button__span material-icons">casino</span>
                            </div>
                            <div class="dh-control-button">
                                <span class="dh-control-button__span material-icons">casino</span>
                            </div>
                            <div class="dh-control-button">
                                <span class="dh-control-button__span material-icons">casino</span>
                            </div>
                        </div>
                    {{else}}
                        <div class="dh-roll__fail">
                            <span>Fail</span>
                            <span>{{roll.total}}</span>
                        </div>
                        <div class="dh-roll__row dh-roll__row--number">
                            <div class="dh-roll__label">Degrees of Failure</div>
                            <div class="dh-roll__value">{{dof}}</div>
                        </div>
                    {{/if}}

                    {{#each @root.effects as |effect|}}
                        <div class="dh-roll__row dh-roll__row--number">
                            <div class="dh-roll__label">{{effect}}</div>
                            <div class="dh-roll__value"></div>
                        </div>
                    {{/each}}

                </div>
            {{/with}}
            {{#if rollData.success}}
                {{#with damageData}}
                    <div id="{{@root.id}}" style="display: none">
                        <div class="dh-roll__divider"></div>
                        {{#each hits as |hit|}}
                            <h2 style='margin-top: .5rem'>Hit {{inc @index}}</h2>
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Base Damage:</div>
                                <div class="dh-roll__value">{{hit.damageRoll.result}}</div>
                            </div>
                            {{#each modifiers}}
                                <div class="dh-roll__row dh-roll__row--number">
                                    <div class="dh-roll__label">Modifier: {{@key}}</div>
                                    <div class="dh-roll__value">{{this}}</div>
                                </div>
                            {{/each}}
                            <div class="dh-roll__notice">
                                <span>{{hit.totalDamage}} Damage to {{hit.location}}</span>
                            </div>
                            <div class="dh-roll__row dh-roll__row--number">
                                <div class="dh-roll__label">Base Penetration:</div>
                                <div class="dh-roll__value">
                                    {{#if hit.penetrationRoll}}
                                        {{hit.penetrationRoll?.result}}
                                    {{else}}
                                        {{hit.penetration}}
                                    {{/if}}
                                </div>
                            </div>
                            {{#each penetrationModifiers}}
                                <div class="dh-roll__row dh-roll__row--number">
                                    <div class="dh-roll__label">Modifier: {{@key}}</div>
                                    <div class="dh-roll__value">{{this}}</div>
                                </div>
                            {{/each}}
                            <div class="dh-roll__notice">
                                <span>{{hit.totalPenetration}} Penetration</span>
                            </div>
                            {{#each righteousFury as |fury|}}
                                <div class="dh-roll__success">
                                    <span>Righteous fury hits for {{fury.total}} critical damage!</span>
                                </div>
                            {{/each}}
                            <div class="dh-roll__divider"></div>
                        {{/each}}
                    </div>
                {{/with}}
            {{/if}}

        </div>
    </div>
</div>
