<div class="dh-wrapper">
    <div class="dh-chat">
        <div class="dh-roll">
            <h1>{{this.actor.name}}</h1>
            {{#if hasDamage}}<h2>{{this.hit.location}} Hit</h2>{{/if}}
            <div class="dh-roll__divider"></div>

            <div class="dh-roll__row dh-roll__row--number">
                <div class="dh-roll__label">Wounds</div>
                <div class="dh-roll__value">{{this.actor.system.wounds.value}} / {{this.actor.system.wounds.max}}</div>
            </div>
            <div class="dh-roll__row dh-roll__row--number">
                <div class="dh-roll__label">Fatigue</div>
                <div class="dh-roll__value">{{this.actor.system.fatigue.value}} / {{this.actor.system.fatigue.max}}</div>
            </div>
            <div class="dh-roll__row dh-roll__row--number">
                <div class="dh-roll__label">Critical Wounds</div>
                <div class="dh-roll__value">{{this.actor.system.wounds.critical}}</div>
            </div>

            {{#if this.hasDamage}}
                <div class="dh-roll__fail">
                    <span>{{this.damageTaken}}</span>
                    <span>{{this.hit.damageType}} Damage</span>
                </div>
            {{/if}}
            {{#if this.hasFatigueDamage}}
                <div class="dh-roll__fail">
                    <span>{{this.fatigueTaken}}</span>
                    <span>Fatigue</span>
                </div>
            {{/if}}
            {{#if this.hasCriticalDamage}}
                <div class="dh-roll__fail">
                    <span>{{this.criticalDamageTaken}}</span>
                    <span>Critical Damage</span>
                </div>
                <div class="dh-roll__label">{{this.criticalEffect}}</div>
            {{/if}}
        </div>
    </div>
</div>
