{{log this}}
<div class="dh-wrapper">
    <div class="dh-chat">
        <h3>Damage Roll</h3>
        <div class="dh-roll">
            <h1>{{name}}</h1>
            <div class="dh-roll__divider"></div>

            <div class="dh-roll__row dh-roll__row--number">
                <div class="dh-roll__label">Formula</div>
                <div class="dh-roll__value">{{roll.formula}}</div>
            </div>

            <div class="dh-roll__notice">
                <span>Damage</span>
                <span>{{roll.total}}</span>
            </div>

            <div class="dh-roll__notice">
                <span>Penetration</span>
                <span>{{penetration}}</span>
            </div>

        </div>
    </div>
</div>
