{{dhlog this}}
<div class="dh-wrapper">
    <div class="dh-chat">
        <h3>{{actor}} Vocalizes</h3>
        <div class="dh-roll">
            <h1>{{name}}</h1>
            <h2>{{type}}</h2>
            <div class="dh-roll__divider"></div>
            <div class="dh-roll__label">{{{description}}}</div>
        </div>
    </div>
</div>
