<div class="dh-wrapper">
    <div class="dh-chat">
        <h3>Attack Roll</h3>
        <div class="dh-roll">
            <h1>{{weapon.name}}</h1>
            <h2>{{action}}</h2>
            <h2>{{lookup difficulties difficulty}}</h2>
            <div class="dh-roll__divider"></div>

            <div class="dh-roll__row dh-roll__row--number">
                <div class="dh-roll__label">Base</div>
                <div class="dh-roll__value">{{baseTarget}}</div>
            </div>
            <div class="dh-roll__row dh-roll__row--number">
                <div class="dh-roll__label">Attack Modifier</div>
                <div class="dh-roll__value">{{attackModifier}}</div>
            </div>
            <div class="dh-roll__row dh-roll__row--number">
                <div class="dh-roll__label">Modifier</div>
                <div class="dh-roll__value">{{modifier}}</div>
            </div>
            <div class="dh-roll__target">
                <div class="dh-roll__label">Target</div>
                <div class="dh-roll__value">{{target}}</div>
            </div>

            {{#if isSuccess}}
                <div class="dh-roll__success">
                    <span>Success</span>
                    <span>{{result}}</span>
                </div>
                <div class="dh-roll__row dh-roll__row--number">
                    <div class="dh-roll__label">Degrees of Success</div>
                    <div class="dh-roll__value">{{dos}}</div>
                </div>
            {{else}}
                <div class="dh-roll__fail">
                    <span>Fail</span>
                    <span>{{result}}</span>
                </div>
                <div class="dh-roll__row dh-roll__row--number">
                    <div class="dh-roll__label">Degrees of Failure</div>
                    <div class="dh-roll__value">{{dof}}</div>
                </div>
            {{/if}}
        </div>
        <div class="dice-rolls" style="display:none">
            <div class="dice-roll-render">
                {{{render}}}
            </div>
        </div>
    </div>
</div>
