<div class="dh-panel dh-grid-col-2 dh-grid-row-3">
    <div class="dh-armour__wrapper">
        <h1 class="dh-panel__header">Armour Points</h1>
        <div class="dh-armour__row">
            <div class="dh-armour__block--head">
                <div class="dh-armour__roll">
                    01-10
                </div>
                <span class="dh-armour__display">{{actor.armour.head.total}}</span>
                <div class="dh-armour__location">Head</div>
            </div>
            <div class="dh-armour__block--leftarm">
                <div class="dh-armour__roll">
                    21-30
                </div>
                <span class="dh-armour__display">{{actor.armour.leftArm.total}}</span>
                <div class="dh-armour__location">Left Arm</div>
            </div>
        </div>
        <div class="dh-armour__row">
            <div class="dh-armour__block--rightarm">
                <div class="dh-armour__roll">
                    11-20
                </div>
                <span class="dh-armour__display">{{actor.armour.rightArm.total}}</span>
                <div class="dh-armour__location">Right Arm</div>
            </div>
            <div class="dh-armour__block--body">
                <div class="dh-armour__roll">
                    31-70
                </div>
                <span class="dh-armour__display">{{actor.armour.body.total}}</span>
                <div class="dh-armour__location">Body</div>
            </div>
        </div>
        <div class="dh-armour__row">
            <div class="dh-armour__block--rightleg">
                <div class="dh-armour__roll">
                    71-85
                </div>
                <span class="dh-armour__display">{{actor.armour.rightLeg.total}}</span>
                <div class="dh-armour__location">Right Leg</div>
            </div>
            <div class="dh-armour__block--leftleg">
                <div class="dh-armour__roll">
                    86-100
                </div>
                <span class="dh-armour__display">{{actor.armour.leftLeg.total}}</span>
                <div class="dh-armour__location">Left Leg</div>
            </div>
        </div>
        <div class="dh-armour__row">
            <div class="dh-armour__block--toughness">
                <div class="dh-armour__roll"></div>
                <span class="dh-armour__display">{{actor.characteristics.toughness.bonus}}</span>
                <div class="dh-armour__location">TB</div>
            </div>
            <div class="dh-armour__block--trait">
                <div class="dh-armour__roll"></div>
                <span class="dh-armour__display">{{actor.armour.head.traitBonus}}</span>
                <div class="dh-armour__location">Traits</div>
            </div>
        </div>
    </div>
</div>
