<div class="dh-panel dh-grid-col-2 dh-grid-row-3">
    <div class="dh-char-roller__wrapper">
        <h1 class="dh-panel__header">Roll Characteristic</h1>
        <div class="dh-char-roller__row">
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.weaponSkill.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="weaponSkill" data-characteristic="weaponSkill">{{data.characteristics.weaponSkill.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.ballisticSkill.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="ballisticSkill" data-characteristic="ballisticSkill">{{data.characteristics.ballisticSkill.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.strength.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="strength" data-characteristic="strength">{{data.characteristics.strength.short}}</span>
            </div>
        </div>
        <div class="dh-char-roller__row">
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.toughness.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="toughness" data-characteristic="toughness">{{data.characteristics.toughness.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.agility.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="agility" data-characteristic="agility">{{data.characteristics.agility.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.intelligence.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="intelligence" data-characteristic="intelligence">{{data.characteristics.intelligence.short}}</span>
            </div>
        </div>
        <div class="dh-char-roller__row">
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.perception.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="perception" data-characteristic="perception">{{data.characteristics.perception.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.willpower.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="willpower" data-characteristic="willpower">{{data.characteristics.willpower.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{data.characteristics.fellowship.total}}</div>
                <span class="dh-char-roller__display roll-characteristic" data-item-type="characteristic" data-item-id="fellowship" data-characteristic="fellowship">{{data.characteristics.fellowship.short}}</span>
            </div>
        </div>
    </div>
</div>

