<div class="dh-panel dh-grid-col-2 dh-grid-row-2">
    <div class="dh-char-roller__wrapper">
        <h1 class="dh-panel__header">Roll Characteristic</h1>
        <div class="dh-char-roller__row">
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.weaponSkill.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="weaponSkill"
                    data-characteristic="weaponSkill"
                >{{actor.characteristics.weaponSkill.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.ballisticSkill.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="ballisticSkill"
                    data-characteristic="ballisticSkill"
                >{{actor.characteristics.ballisticSkill.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.strength.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="strength"
                    data-characteristic="strength"
                >{{actor.characteristics.strength.short}}</span>
            </div>
        </div>
        <div class="dh-char-roller__row">
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.toughness.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="toughness"
                    data-characteristic="toughness"
                >{{actor.characteristics.toughness.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.agility.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="agility"
                    data-characteristic="agility"
                >{{actor.characteristics.agility.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.intelligence.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="intelligence"
                    data-characteristic="intelligence"
                >{{actor.characteristics.intelligence.short}}</span>
            </div>
        </div>
        <div class="dh-char-roller__row">
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.perception.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="perception"
                    data-characteristic="perception"
                >{{actor.characteristics.perception.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.willpower.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="willpower"
                    data-characteristic="willpower"
                >{{actor.characteristics.willpower.short}}</span>
            </div>
            <div class="dh-char-roller__block">
                <div>{{actor.characteristics.fellowship.total}}</div>
                <span
                    class="dh-char-roller__display roll-characteristic actor-drag"
                    data-item-type="characteristic"
                    data-item-id="fellowship"
                    data-characteristic="fellowship"
                >{{actor.characteristics.fellowship.short}}</span>
            </div>
        </div>
    </div>
</div>
