<div class="dh-panel dh-grid-col-4 dh-grid-row-2">
    <h1 class="dh-panel__header">{{localize 'CHARACTERISTICS'}}</h1>
    <div class="dh-chartable">
        <div class="dh-chartable__cell--noborder">&nbsp;</div>
        <div class="dh-chartable__cell--left">{{localize 'CHARACTERISTIC.INITIAL'}}</div>
        <div class="dh-chartable__cell--left">{{localize 'CHARACTERISTIC.ADVANCES'}}</div>
        <div class="dh-chartable__cell--left">{{localize 'CHARACTERISTIC.MODIFIER'}}</div>
        <div class="dh-chartable__cell--left">{{localize 'CHARACTERISTIC.CURRENT'}}</div>
        <div class="dh-chartable__cell--left">{{localize 'CHARACTERISTIC.UNNATURAL'}}</div>
        <div class="dh-chartable__cell--left">{{localize 'CHARACTERISTIC.BONUS'}}</div>
        {{#each actor.characteristics as |characteristic name|}}
            <div class="dh-chartable__cell--head {{colorCode this.has_bonus this.has_negative}}">
                <button
                    class="roll-characteristic actor-drag"
                    type="roll"
                    data-item-type="characteristic"
                    data-item-id="{{name}}"
                    data-characteristic="{{name}}"
                >{{this.short}}</button>
            </div>
            <div class="dh-chartable__cell {{colorCode this.has_bonus this.has_negative}}">
                <input name="system.characteristics.{{name}}.base" data-dtype="Number" type="number" value="{{this.base}}" />
            </div>
            <div class="dh-chartable__cell {{colorCode this.has_bonus this.has_negative}}">
                <select name="system.characteristics.{{name}}.advance">
                    {{option "0" this.advance (localize 'CHARACTERISTIC.NONE')}}
                    {{option "1" this.advance (localize 'CHARACTERISTIC.SIMPLE')}}
                    {{option "2" this.advance (localize 'CHARACTERISTIC.INTERMEDIATE')}}
                    {{option "3" this.advance (localize 'CHARACTERISTIC.TRAINED')}}
                    {{option "4" this.advance (localize 'CHARACTERISTIC.PROFICIENT')}}
                    {{option "5" this.advance (localize 'CHARACTERISTIC.EXPERT')}}
                </select>
            </div>
            <div class="dh-chartable__cell {{colorCode this.has_bonus this.has_negative}}">
                <input class="dh-field__input" name="system.characteristics.{{name}}.modifier" data-dtype="Number" type="number" value="{{this.modifier}}" />
            </div>
            <div class="dh-chartable__cell dh-chartable__cell--highlight {{colorCode this.has_bonus this.has_negative}}">
                <span class="display">{{this.total}}</span>
            </div>
            <div class="dh-chartable__cell {{colorCode this.has_bonus this.has_negative}}">
                <input class="dh-field__input" name="system.characteristics.{{name}}.unnatural" data-dtype="Number" type="number" value="{{this.unnatural}}" />
            </div>
            <div class="dh-chartable__cell {{colorCode this.has_bonus this.has_negative}}">
                <span class="display">{{this.bonus}}</span>
            </div>
        {{/each}}
    </div>
</div>
