<div class="dh-panel dh-grid-col-2 {{isError actor.encumbrance.encumbered}}">
    <h1 class="dh-panel__header">
        {{#if actor.encumbrance.encumbered}}
            {{localize 'ENCUMBRANCE.OVERWEIGHT'}}
        {{else}}
            {{localize 'ENCUMBRANCE'}}
        {{/if}}
    </h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">{{localize 'ENCUMBRANCE.CURRENT'}}</span>
        <span class="dh-field__span">{{actor.encumbrance.value}}</span>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">{{localize 'ENCUMBRANCE.MAX'}}</span>
        <span class="dh-field__span">{{actor.encumbrance.max}}</span>
    </div>
    {{#if actor.backpack.hasBackpack}}
        {{#unless actor.backpack.isCombatVest}}
            <div class="dh-field__wrapper">
                <span class="dh-field__header">{{localize 'ENCUMBRANCE.BACKPACK_CURRENT'}}</span>
                <span class="dh-field__span">{{actor.encumbrance.backpack_value}}</span>
            </div>
            <div class="dh-field__wrapper">
                <span class="dh-field__header">{{localize 'ENCUMBRANCE.BACKPACK_MAX'}}</span>
                <span class="dh-field__span">{{actor.encumbrance.backpack_max}}</span>
            </div>
        {{/unless}}
    {{/if}}
</div>
