<div class="dh-insanity dh-panel">
    <h1 class="dh-panel__header">Insanity</h1>
    <div class="dh-field--grid2-1">
        <span class="dh-field__header">Insanity Points</span>
        <input class="dh-field__input" data-dtype="Number" type="number" name="data.insanity" value="{{data.insanity}}"/>
    </div>
    <div class="dh-insanitytable">
        <div class="dh-insanitytable__row--head">
            <div class="dh-insanitytable__cell--span2">Mental Disorders</div>
            <div class="dh-insanitytable__cell--last"></div>
        </div>
        {{#each actor.items as | item |}}
            {{#if item.isMentalDisorder}}
                <div class="dh-insanitytable__row">
                    <div class="dh-insanitytable__cell--settingstoggle">
                        <label class="dh-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="dh-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="dh-insanitytable__cell">
                        {{> systems/dark-heresy-2nd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                    </div>
                    <div class="dh-insanitytable__cell--vocalise">
                        <button type="roll" data-talent-id="{{item.data._id}}" class="dh-vocalise material-icons">record_voice_over</button>
                    </div>
                    <div class="dh-insanitytable__cell--description description_{{item.id}}" {{hideIfNot (isExpanded (concat 'description_' item.id ))}}>
                        <span>{{item.data.data.description}}</span>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
