<div class="dh-panel spacer dh-grid-col-2">
    <h1 class="dh-panel__header">Movement</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Size</span>
        <select class="dh-field__input" name="system.size">
            {{selectOptions dh.bio.size selected=actor.size}}
        </select>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Half</span>
        <span class="dh-field__span">{{actor.movement.half}}m</span>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Full</span>
        <span class="dh-field__span">{{actor.movement.full}}m</span>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Charge</span>
        <span class="dh-field__span">{{actor.movement.charge}}m</span>
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Run</span>
        <span class="dh-field__span">{{actor.movement.run}}m</span>
    </div>
</div>
