<div class="dh-panel dh-grid-col-2 dh-grid-row-1">
    <h1 class="dh-panel__header">Peers</h1>
    <div class="dh-table--border dh-peerenemytable--border">
        <div class="table-row--head">
            <div class="table-cell--span2">Name</div>
            <div class="table-cell">Modifier</div>
            <div class="table-cell--last">
                <label class="dh-control-button item-create" data-type="peer">
                    <span class="dh-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each actor.items as | item |}}
            {{#if item.isPeer}}
                <div class="table-row">
                    <div class="table-cell--settingstoggle">
                        <label class="dh-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="dh-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--left">
                        {{> systems/dark-heresy-2nd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.modifier}}</span>
                    </div>
                    <div class="table-cell--last">
                        <label class="dh-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="dh-control-button__span material-icons">{{defaultVal icon 'delete'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--description description_{{item.id}}" {{hideIfNot
                        (isExpanded (concat 'description_' item.id ))}}>
                        <span class="display">{{item.system.description}}</span>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
