<div class="dh-talents dh-panel">
    <h1 class="dh-panel__header">Talents</h1>
    <div class="dh-talenttable">
        <div class="dh-talenttable__row--head">
            <div class="dh-talenttable__cell--span2">Name</div>
            <div class="dh-talenttable__cell">Tier</div>
            <div class="dh-talenttable__cell--last"></div>
        </div>
        {{#each actor.items as | item |}}
            {{#if item.isTalent}}
                    <div class="dh-talenttable__row">
                        <div class="dh-talenttable__cell--settingstoggle">
                            <label class="dh-control-button item-edit" data-item-id="{{item.id}}">
                                <span class="dh-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                            </label>
                        </div>
                        <div class="dh-talenttable__cell">
                            {{> systems/dark-heresy-2nd/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                        </div>
                        <div class="dh-talenttable__cell">
                            <span>{{item.data.data.tier}}</span>
                        </div>
                        <div class="dh-talenttable__cell--vocalise">
                            <button type="roll" data-talent-id="{{item.data._id}}" class="dh-vocalise material-icons">record_voice_over</button>
                        </div>
                        <div class="dh-talenttable__cell--description description_{{item.id}}" {{hideIfNot (isExpanded (concat 'description_' item.id ))}}>
                            <span>{{item.data.data.benefit}}</span>
                        </div>
                    </div>
            {{/if}}
        {{/each}}
    </div>
</div>
