<div class="dh-weapons dh-panel">
    <h1 class="dh-panel__header">Weapons</h1>
    <div class="dh-weapontable">
        <div class="dh-weapontable__row--head">
            <div class="dh-weapontable__cell--span2">Name</div>
            <div class="dh-weapontable__cell">Class</div>
            <div class="dh-weapontable__cell">Type</div>
            <div class="dh-weapontable__cell--last">Equipped</div>
        </div>
        {{#each actor.items as | item |}}
            {{#if item.isWeapon}}
                <div class="dh-weapontable__row">
                    <div class="dh-weapontable__cell--settingstoggle">
                        <label class="dh-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="dh-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="dh-weapontable__cell">
                        <button type="roll">
                            <span>{{item.name}}</span>
                        </button>
                    </div>
                    <div class="dh-weapontable__cell">
                        <span>{{item.data.data.class}}</span>
                    </div>
                    <div class="dh-weapontable__cell">
                        <span>{{item.data.data.type}}</span>
                    </div>
                    <div class="dh-weapontable__cell--last">
                        <input class="dh-settings__input" type="checkbox" data-dtype="Boolean" disabled {{checked item.data.data.equipped}}/>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
